* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

header > .container {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 20px 0;
    background-color: #1F2937;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding-left: 10px;
}

.hero {
    background-color:#1F2937;
    padding: 100px 0;;
}

.hero > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.hero__title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero__text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero__button {
    background-color: #3882F6;
    padding: 7px 25px;
    border: 1px solid #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 600;
    margin-top: 15px;
}

.image {
    display: flex;
    height: 100%;
    background-color: #878787;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.random-info {
    padding: 50px 0;
}

.random-info__title {
    text-align: center;
}

.image__boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 50px 100px;
}

.image__box {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image__box > img{
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.image__box > p {
    text-align: center;
    color: #515151;
    width: 150px;
}

.thor {
    background-color: #E5E7EB;
    padding: 100px;
}

.thor__text {
    padding: 0 50px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.thor__description {
    display: flex;
    justify-content: end;
    padding-right: 100px;
    font-weight: 600;
    font-size: 20px;
}

.singup {
    padding: 100px 0;
}

.singup__text {
    color: #E5E7EB;
}

.singup__box {
    background: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
    color: #F9FAF8;
}

.singup__box {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.singup__button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    font-weight: 600;
    color: #F9FAF8;
    margin: 5px 75px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 25px 0;
}




